*{
    padding: 0%;
    margin: 0%;

}

:root{
    --marromescuro: #302727;
    --vermelho: #ba2d2d;
    --laranjaescuro: #f2511b;
    --laranjaclaro: #f2861b;
    --amarelo: #c7c730;
}

/* HEADER */

#cabecalho{
    background-color: var(--vermelho);
    width: 100%;
    height: 100px;
    margin-bottom: 20px;  
    display: flex;
    justify-content: space-between;
}

a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
#botaoAbrir{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
}

#banner img{
    width: 100%;
    height: 900px;

}

#texto{
    display: block; 
    width: 35%;
    background-color: #f2871b9d;
    padding-bottom: 15px;

}

#bemvindo, p{
    margin-left:20px;
    font-family:ar;
}

#botaoFazer{
    width: 160px;
    height: 50px;
    margin-left:20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    border: solid 2px var(--laranjaclaro);
    background-color:var(--marromescuro);
    color: white;
}

/* FIM HEADER */

/* SECTION DE FORMA DE PAGAMENTO */


/* FIM SECTION DE FORMA DE PAGAMENTO */

/* SECTION DE CARTOES */

#cartoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grupocartoes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.cartao{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#cartao1{
    background-image: url(../images/cartaoUm.png);
}

#cartao2{
    background-image: url(../images/cartaoDois.png);
}

#cartao3{
    background-image: url(../images/cartaoTres.png);
}

/* FIM SECTION DE CARTOES */

/* SECTION DE HORARIOS */

#horariosDiv{
    width: 1000px;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    margin: 30px auto;
}


#horariosDiv table{
    width: 800px;
    border-collapse:collapse;
   
}

td, th{
    border: solid black 1px;
    padding: 8px;

}

th{
    background-color: var(--vermelho);
    color: #fff;
}

td:hover{
    background-color: aliceblue;
}

th:empty{
    background-color: transparent;
    border: none;
}

/* FIM SECTION DE HORARIOS */

footer{
    background-color: var(--vermelho);
    color: #fff;
    text-align: center;
    font-family: 'Trebuchet MS';
}